Performance problems on code completion suggestions

### What version of Go are you using (`go version`)?

`go version go1.11.2 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?

CPU: `Intel(R) Core(TM) i7-4810MQ CPU @ 2.80GHz`

```
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/user/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/user/go"
GOPROXY=""
GORACE=""
GOROOT="/usr/lib/go"
GOTMPDIR=""
GOTOOLDIR="/usr/lib/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
CXX="g++"
CGO_ENABLED="1"
GOMOD=""
CGO_CFLAGS="-g -O2"
CGO_CPPFLAGS=""
CGO_CXXFLAGS="-g -O2"
CGO_FFLAGS="-g -O2"
CGO_LDFLAGS="-g -O2"
PKG_CONFIG="pkg-config"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build158893977=/tmp/go-build -gno-record-gcc-switches"
```

### What is the debug output of `gocode`?

```
2018/12/20 17:21:26 Got autocompletion request for '/home/user/go/src/github.com/jdevelop/musicshare/music/play/play.go'
2018/12/20 17:21:26 Cursor at: 278
2018/12/20 17:21:26 -------------------------------------------------------
package play

import (
	"net/http"
	"sync"
	"time"

	"github.com/jdevelop/musicshare/music"
)

type playApi struct {
	client *http.Client
}

var (
	cl   http.Client
	once sync.Once
)

func NewPlayResolver() *playApi {
	once.Do(func() {
		cl = http.Client{
			Timeout: 30 * time.#
		}
	})
	return &playApi{}
}

func (p *playApi) ResolveLink(trk *music.Track) (string, error) {
	panic("not implemented")
}

func (p *playApi) ResolveTrack(lnk string) (*music.Track, error) {
	panic("not implemented")
}

var i playApi
var _ music.LinkResolver = &i
var _ music.TrackResolver = &i
2018/12/20 17:21:26 -------------------------------------------------------
2018/12/20 17:21:26 Error parsing input file (outer block):
2018/12/20 17:21:26  /home/user/go/src/github.com/jdevelop/musicshare/music/play/play.go:23:23: expected selector or type assertion, found ';'
2018/12/20 17:21:28 Elapsed duration: 1.487927698s
2018/12/20 17:21:28 Offset: 0
2018/12/20 17:21:28 Number of candidates found: 67
2018/12/20 17:21:28 Candidates are:
2018/12/20 17:21:28   const ANSIC untyped string
2018/12/20 17:21:28   const April time.Month
2018/12/20 17:21:28   const August time.Month
2018/12/20 17:21:28   const December time.Month
2018/12/20 17:21:28   const February time.Month
2018/12/20 17:21:28   const Friday time.Weekday
2018/12/20 17:21:28   const Hour time.Duration
2018/12/20 17:21:28   const January time.Month
2018/12/20 17:21:28   const July time.Month
2018/12/20 17:21:28   const June time.Month
2018/12/20 17:21:28   const Kitchen untyped string
2018/12/20 17:21:28   const March time.Month
2018/12/20 17:21:28   const May time.Month
2018/12/20 17:21:28   const Microsecond time.Duration
2018/12/20 17:21:28   const Millisecond time.Duration
2018/12/20 17:21:28   const Minute time.Duration
2018/12/20 17:21:28   const Monday time.Weekday
2018/12/20 17:21:28   const Nanosecond time.Duration
2018/12/20 17:21:28   const November time.Month
2018/12/20 17:21:28   const October time.Month
2018/12/20 17:21:28   const RFC1123 untyped string
2018/12/20 17:21:28   const RFC1123Z untyped string
2018/12/20 17:21:28   const RFC3339 untyped string
2018/12/20 17:21:28   const RFC3339Nano untyped string
2018/12/20 17:21:28   const RFC822 untyped string
2018/12/20 17:21:28   const RFC822Z untyped string
2018/12/20 17:21:28   const RFC850 untyped string
2018/12/20 17:21:28   const RubyDate untyped string
2018/12/20 17:21:28   const Saturday time.Weekday
2018/12/20 17:21:28   const Second time.Duration
2018/12/20 17:21:28   const September time.Month
2018/12/20 17:21:28   const Stamp untyped string
2018/12/20 17:21:28   const StampMicro untyped string
2018/12/20 17:21:28   const StampMilli untyped string
2018/12/20 17:21:28   const StampNano untyped string
2018/12/20 17:21:28   const Sunday time.Weekday
2018/12/20 17:21:28   const Thursday time.Weekday
2018/12/20 17:21:28   const Tuesday time.Weekday
2018/12/20 17:21:28   const UnixDate untyped string
2018/12/20 17:21:28   const Wednesday time.Weekday
2018/12/20 17:21:28   func After(d time.Duration) <-chan time.Time
2018/12/20 17:21:28   func AfterFunc(d time.Duration, f func()) *time.Timer
2018/12/20 17:21:28   func Date(year int, month time.Month, day int, hour int, min int, sec int, nsec int, loc *time.Location) time.Time
2018/12/20 17:21:28   func FixedZone(name string, offset int) *time.Location
2018/12/20 17:21:28   func LoadLocation(name string) (*time.Location, error)
2018/12/20 17:21:28   func LoadLocationFromTZData(name string, data []byte) (*time.Location, error)
2018/12/20 17:21:28   func NewTicker(d time.Duration) *time.Ticker
2018/12/20 17:21:28   func NewTimer(d time.Duration) *time.Timer
2018/12/20 17:21:28   func Now() time.Time
2018/12/20 17:21:28   func Parse(layout string, value string) (time.Time, error)
2018/12/20 17:21:28   func ParseDuration(s string) (time.Duration, error)
2018/12/20 17:21:28   func ParseInLocation(layout string, value string, loc *time.Location) (time.Time, error)
2018/12/20 17:21:28   func Since(t time.Time) time.Duration
2018/12/20 17:21:28   func Sleep(d time.Duration)
2018/12/20 17:21:28   func Tick(d time.Duration) <-chan time.Time
2018/12/20 17:21:28   func Unix(sec int64, nsec int64) time.Time
2018/12/20 17:21:28   func Until(t time.Time) time.Duration
2018/12/20 17:21:28   type Duration int64
2018/12/20 17:21:28   type Location struct
2018/12/20 17:21:28   type Month int
2018/12/20 17:21:28   type ParseError struct
2018/12/20 17:21:28   type Ticker struct
2018/12/20 17:21:28   type Time struct
2018/12/20 17:21:28   type Timer struct
2018/12/20 17:21:28   type Weekday int
2018/12/20 17:21:28   var Local *time.Location
2018/12/20 17:21:28   var UTC *time.Location
2018/12/20 17:21:28 =======================================================
```

### What (client-side) flags are you passing into `gocode`?

`gocode -s -sock unix -addr 127.0.0.1:37373 -cache -debug`

### What editor are using?

`vim`

@jdevelop: how large is your project?

@stamblerre https://github.com/jdevelop/musicshare 

Is there any possibility that your editor is setting the `-source` flag? I tried to reproduce this, and the slowest time I got was 24ms for the same completion. I know that Vim has a `gocode_propose_source` setting--is it possible you are setting that?

Interesting! I updated to `master` and then ran `GoUpdateBinaries` - and everything works fast now on Arch Linux now. 

```
pgrep -af gocode
9286 /home/user/go/bin/gocode -s -sock unix -addr 127.0.0.1:37373 -cache
```

However given the MacPro'15 with exactly the same setup and the `gocode` server running with exactly the same arguments on the same project - the completion is very slow still.

Is there any difference between OSX / Linux versions?

Hm, I have heard about Macs being slower than Linux, specifically in the case of the go command (https://github.com/golang/go/issues/28739). I'll try to reproduce this on my Mac later today.

I tried with the fresh environment and master branches of `vim-go` and `gocode`, so far I _feel_ that there is some small delay on MacOS, but I can't really point it out. 

I guess that we can close this one for the moment.

Thanks for the help!

For some reason it stopped working after the most recent updates. The command line for the completion in `vim`:

```
/home/user/go/bin/gocode -sock unix -f vim -builtin -fallback-to-source -cache autocomplete /home/user/go/src/github.com/meetmaps/app/cli/main.go
```

I wonder where the cache is located? Any chance that it rolls back to `source`?

vim-go: `66d06f380ef3cbced060b4d514413762a4438fb4`
gocode: `7fb65232883f19a8305706b4b4ff32916ffbcaf5`

Looks like it can't read things from cache:
```
2019/03/09 20:40:23 cache: importing: time, srcdir: /home/user/go/src/github.com/meetmaps/workers
2019/03/09 20:40:23 cache: importing: github.com/meetmaps, srcdir: /home/user/go/src/github.com/meetmaps/workers
2019/03/09 20:40:23 cache: no gcexportdata file for github.com/meetmaps
2019/03/09 20:40:23 cache: cache: falling back to the source importer for github.com/meetmaps
2019/03/09 20:40:23 cache: importing: github.com/meetmaps/queue, srcdir: /home/user/go/src/github.com/meetmaps/workers
2019/03/09 20:40:23 cache: no gcexportdata file for github.com/meetmaps/queue
2019/03/09 20:40:23 cache: cache: falling back to the source importer for github.com/meetmaps/queue
2019/03/09 20:40:24 cache: importing: github.com/meetmaps/storage, srcdir: /home/user/go/src/github.com/meetmaps/workers
2019/03/09 20:40:24 cache: no gcexportdata file for github.com/meetmaps/storage
....
2019/03/09 20:40:29 Elapsed duration: 5.523123152s
```

How can I generate those cache files?

Looks like this could be related to the different caching in *go1.12* - the `pkg` folder doesn't have the updates from the codebase. I tried @stamblerre version from `github.com/stamblerre/gocode` and it works considerably better, but still yielding 
```
2019/03/09 21:38:48 Elapsed duration: 1.209366734s
```

which is quite too long

The cache will fallback to `-source` if it can't find anything. You can generate those cache files by running `go install -i <package>`. You can also try out [gopls](https://golang.org/x/tools/cmd/gopls) for faster autocompletion ([more info](https://github.com/golang/go/wiki/gopls)).

@stamblerre How can we use this gopls feature?

@FuzzOli87: gopls is a replacement for gocode that is currently in alpha. Installation is explained on this Wiki page: https://github.com/golang/go/wiki/gopls.